@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	footer {
		@apply bg-white dark:bg-zinc-800 text-gray-600 dark:text-gray-200;
	}

	body {
		position: fixed;
		min-height: 100vh;
		min-width: 100%;
	}
}

.modal,
.dropdown,
.dropdown-content,
.dropdown .dropdown-content,
.dropdown.dropdown-open .dropdown-content,
.dropdown.dropdown-hover:hover .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:not(.dropdown-hover):focus-within .dropdown-content {
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}

.table th:first-child {
	@apply relative;
	left: inherit;
	z-index: inherit;
}

.btn-shadow {
	@apply drop-shadow-md;
}
